*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
}
.register_fam{
    background-color: #fff896;
    border-radius: 10px;
    padding: 40px 30px;
    display: center;
}
.register_fam img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.register_fam h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 2PX;
}
.register_fam p{
    color: rgb(158, 158, 158);
    font-size: 14px;
    margin-bottom: 15px;
}
.name {
    display: flex;
    gap: 10px;        /* space between the two inputs */
    width: 100%;
    margin-bottom: 5px;
}
.name div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register_fam input{
    padding: 10px 5px;
    border-radius: 8px;
    border: 1px rgb(214, 212, 212) solid ;

}
.input_fam{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-bottom: 15px;
}
.input_fam label{
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif ;
    margin-bottom: 5px;
}
button {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px rgb(15, 14, 14) solid ;
    margin-bottom: 20px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
    font-style: bold;
}